<html>
    <head>
        <title>All Rankings</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="/" class="logo">
                <span class="sound">sound</span><span class="scape">SCAPE</span>
            </a>

            <div class="nav-links">
                <a href="/all_rankings">Rankings</a>
                <a href="/search">Search</a>
            </div>
        </nav>

        <div class="page-container">
            <h1>Rankings</h1>
            
            <div class="album-grid">

                {% for album in albums %}

                <div class="album-card">
                    <img src="{{ album[2] }}" width="200">

                    <h2>{{ album[0] }}</h2>
                    
                    <p class="stars">
                        {{ star_rating(album[3]) }}
                    </p>
                
                </div>

                {% endfor %}
            </div>
        </div>
    </body>
</html>