<html>
    <head>
        <title>All Rankings</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="/" class="logo">
                <span class="sound">sound</span><span class="scape">SCAPE</span>
            </a>

            <div class="nav-links">
                <a href="/all_rankings">Ratings</a>
                <a href="/search">Search</a>
            </div>
        </nav>

        <div class="page-container">
            <h1>Ratings</h1>
            
            <div class="album-grid">

                {% for album in albums %}

                <div class="album-card">

                    <a href="{{ url_for('ranking', album_id=album[0]) }}">
                        <img src="{{ album[3] }}" width="200">
                    </a>

                    <h2 class="stars">
                        {{ star_rating(album[5]) }}
                    </h2>
                
                </div>

                {% endfor %}
            </div>
        </div>
    </body>
</html>