<html>
    <head>
        <title>Album Review Site</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="/" class="logo">
                <span class="sound">sound</span><span class="scape">SCAPE</span>
            </a>

            <div class="nav-links">
                <a href="/all_rankings">Rankings</a>
                <a href="/search">Search</a>
            </div>
        </nav>

        <div class="page-container">
            <h1>Album Review Site</h1>
            <p>Welcome to the Album Review Site!</p>
        </div>
    </body>
</html>