<html>
    <head>
        <title>{{ spotify.name }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>
        <nav>
            <a href="/" class="logo">
                <span class="sound">sound</span><span class="scape">SCAPE</span>
            </a>

            <div class="nav-links">
                <a href="/all_rankings">Ratings</a>
                <a href="/search">Search</a>
            </div>
        </nav>

        <div class="page-container">

            <img src="{{ spotify.art }}" width="500">

            <div class="album-header">
                <h2>{{ spotify.name }} by {{ spotify.artist }}</h2>
            </div>

            <h3>Release Date: {{ spotify.release_date }}</h3>

            {% for review in reviews %}
                <h2 class="stars">
                        {{ star_rating(review[0]) }}
                </h2>
                <a href="{{ spotify.url }}" target="_blank" class="spotify-button">
                    <i class="fa-brands fa-spotify"></i>
                    Open in Spotify
                </a>
                <p>{{ review[1] }}</p>

                <a href="{{ url_for('delete_review', album_id=spotify.id) }}"
                    onclick="return confirm('Are you sure you want to delete this review?');">
                    <button class="delete-button">Delete Review</button>
                </a>
            {% endfor %}

        </div>

    </body>
</html>