<html>
    <head>
        <title>{{ spotify.name }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav>
            <a href="/" class="logo">
                <span class="sound">sound</span><span class="scape">SCAPE</span>
            </a>

            <div class="nav-links">
                <a href="/all_rankings">Rankings</a>
                <a href="/search">Search</a>
            </div>
        </nav>

        <div class="page-container">

            <h1>{{ spotify.name }}</h1>

            <h2>{{ spotify.artist }}</h2>

            <h3>Your Review</h3>

            {% for review in reviews %}
                <p>Rating {{ review[0] }}/5</p>
                <p>{{ review[1] }}</p>
            {% endfor %}
        </div>

    </body>
</html>