<html>
    <head>
        <title>Search for an Album</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <style>
            body {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <nav>
            <a href="/" class="logo">
                <span class="sound">sound</span><span class="scape">SCAPE</span>
            </a>

            <div class="nav-links">
                <a href="/all_rankings">Rankings</a>
                <a href="/search">Search</a>
            </div>
        </nav>

        <div class="page-container">

            <h1>Search for an Album</h1>

            <form action="/search" method="GET">
                <input
                    type="text"
                    name="query"
                    placeholder="Search for an album..."
                >
                <button type="submit">Search</button>
            </form> 
        
        </div>
        
    </body>
</html>